language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.9-dev"  # 3.9 development branch. similarly 3.10-dev, 3.11-dev, etc.
  - "3.10" # current default Python in Travis CI, if `language: python` is specified
  - "3.11"
  - "3.12"
  - "3.13"
  - "nightly"  # nightly build
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest