version: 2.1  # CircleCI config version

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10  # Official CircleCI Python image
    steps:
      - checkout  # Pulls your code from the repo

      # Install dependencies
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      # Run tests
      - run:
          name: Run unit tests
          command: |
            pytest --maxfail=1 --disable-warnings -q

workflows:
  build_test_deploy:
    jobs:
      - build-and-test
